/*------------------- 4.6 Header Menu -------------------*/
header.header {
    position: relative;
    z-index: 15;
}

.temp-logo {
    position: relative;
    @media only screen and (max-width: 991px) {
        display: none;     
    }
    &:before {
        content: "";
        height: 9px;
        width: 9px;
        background-color: $color_secondary;
        position: absolute;
        top: 1px;
        left: 44px;
        border-radius: 50%;
        animation: pulse2 linear 1000ms infinite;
    }
}

.header-menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

nav.template-main-menu {
    >ul {
        display: flex;
        align-items: center;
        >li {
            position: relative;
            >a {
                font-size: 15px;
                font-weight: 600;
                line-height: 1;
                display: block;
                color: $color_body;
                padding: 40px 15px;
                @media only screen and (max-width: 1199px) {
                    padding: 40px 10px;  
                }
                &:hover,
                &.active {
                    color: $color_primary;
                }
            }

            a.have-sub {
                position: relative;
                &:after {
                    content: "\eab2";
                    font-family: IcoFont!important;
                    font-size: 14px;
                    color: $color_body;
                    font-weight: 400;
                    padding-left: 6px;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    &:after {
                        color: $color_primary;
                    }
                }
            }
            ul.sub-menu {
                background-color: $color_light;
                border-radius: 8px;
                padding: 15px;
                width: 230px;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 85%;
                left: 0;
                transform: translate(0, -20px);
                pointer-events: none;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
                transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-bottom: 10px solid #ffffff;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    position: absolute;
                    top: -10px;
                    left: 30px;
                    transition: all 0.3s ease-in-out;
                }
                li {
                    position: relative;
                    a {
                        overflow: hidden;
                        position: relative;
                        font-size: 15px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: #444444;
                        padding: 2px 0;
                        display: block;
                        &:after {
                            content: "";
                            height: 100%;
                            width: 100%;
                            background: linear-gradient(to top, #ff630e 0%, #ff000a 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover {
                            color: $color_secondary;
                        }
                    }
                }
            }

            ul.mega-menu {
                padding: 10px 0;
                background-color: $color_light;
                border-radius: 8px;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
                position: absolute;
                top: 85%;
                transform: translate(0, -20px);
                pointer-events: none;
                visibility: hidden;
                opacity: 0;
                transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-bottom: 10px solid #ffffff;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    position: absolute;
                    top: -10px;
                    left: 150px;
                    transition: all 0.3s ease-in-out;
                }
                >li {
                    width: 230px;
                    display: inline-block;
                    margin: 0 5px;
                    float: left;

                    >ul.sub-menu {
                        position: relative;
                        width: 100%;
                        border: none;
                        box-shadow: none;
                        visibility: visible;
                        opacity: 1;
                        transform: translate(0, 0);
                        &:before {
                            display: none;
                        }
                    }
                }
            }

            ul.mega-menu-col-2 {
                width: 480px;
                left: -100px;
                padding: 0;
            }

            &:hover {
                ul.sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(0, 0);
                    pointer-events: auto;
                }

                ul.mega-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(0, 0);
                    pointer-events: auto;
                }
            }
        }
    }
}

.menu-layout1 {
    padding: 0 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @media only screen and (max-width: 1440px) {
        padding: 0;  
    }
}

.rt-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: $color_primary;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    animation: upsdown 1000ms;
    nav.template-main-menu {
        >ul {
            >li {
                >a {
                    padding: 30px 15px;
                    @media only screen and (max-width: 1199px) {
                        padding: 30px 10px;  
                    }
                }
            }
        }
    }
}


.hide-on-desktop-menu {
    @media only screen and (min-width: 992px) {
        display: none !important;
    }
}

.hide-on-mobile-menu {
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

// Header Action 
.header-action {
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 26px;
            &:last-child {
                margin-right: 0;
            }
        }
        .header-social {
            position: relative;
            margin-right: 45px;
            @media only screen and (max-width: 1199px) {
                display: none;     
            }
            &:after {
                content: "";
                height: 24px;
                width: 1px;
                background-color: rgba(255, 255, 255, 0.4);
                position: absolute;
                top: 50%;
                right: -22px;
                transform: translateY(-50%);
            }
            a {
                color: $color_light;
                padding: 5px;
                margin-right: 4px;
                &:hover {
                    color: $color_secondary;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .header-search-icon {
            @media only screen and (max-width: 479px) {
                display: none;                     
            }
            a {
                color: $color_light;
                font-size: 20px;
                &:hover {
                    color: $color_secondary;
                }
            }
        }
        .login-btn {
            a {
                color: $color_black;
                background-color: $color_light;
                padding: 8px 25px;
                font-weight: 700;
                border-radius: 4px;
                @media only screen and (max-width: 575px) {
                    padding: 6px 25px;                     
                }
                &:hover {
                    background-color: $color_secondary;
                    color: $color_light;
                }
            }
        }
    }
}

// Header Search
.header-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    transition: all 0.5s ease-in-out;
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
    .header-search-form {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);

        input[type="search"] {
            width: 60%;
            color: rgb(255, 255, 255);
            font-size: 24px;
            text-align: left;
            border: none;
            margin: 0 auto;
            padding: 25px 10px 25px 30px;
            outline: none;
            background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.5), transparent);
            @media only screen and (max-width: 575px) {
                width: 75%;
            }
        }
        .search-btn {
            padding: 24px 10px;
            background-color: transparent;
            box-shadow: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            i {
                &:before {
                    font-size: 24px;
                    font-weight: 700;
                    color: #ffffff;
                    margin-left: 0;
                }
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }

    .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: $color_dark;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        opacity: 1;
        visibility: visible;
        padding: 3px 15px 5px;
        font-size: 36px;
        font-weight: 300;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: 0 1px 2px 0px rgba(255, 255, 255, 0.75);
        transition: all 0.3s ease-in-out;

        &:focus {
            box-shadow: none;
            border: none;
            outline: none;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.header-search.open {
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    visibility: visible;
}

// Fixed Header
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .header-menu {
        padding: 0 90px !important;
        background-color: $color_light;
        @media only screen and (max-width: 991px) {
            padding: 0 60px !important;  
        }
        @media only screen and (max-width: 767px) {
            padding: 0 50px !important;  
        }
        .header-logo {
            position: relative;
            margin-bottom: 8px;
            @media only screen and (max-width: 991px) {
                margin-bottom: 0;    
            }
            img {
                @media only screen and (max-width: 991px) {
                    height: 30px;     
                }
            }
        }
    }
    .navbar {
        padding: 0 40px;
        @media only screen and (max-width: 1439px) {
            padding: 0 25px;  
        }
        @media only screen and (max-width: 1360px) {
            padding: 0 15px;  
        }
        @media only screen and (max-width: 1199px) {
            padding: 19px 15px;  
               
        }
        @media only screen and (max-width: 991px) {
            padding: 7px 10px;     
        }
        @media only screen and (max-width: 767px) {
            padding: 2px 10px;     
        }
        @media only screen and (max-width: 575px) {
            justify-content: center;                     
        }
        @media only screen and (max-width: 479px) {
            padding: 2px 5px;                          
        }

        .nav-top-menu {
            flex: 1;
            margin-left: 30px;
            @media only screen and (max-width: 1199px) {
                display: none;   
            }
        }
    }
    nav.template-main-menu {
        ul {
            li {
                a {
                    padding: 37px 15px;
                }
            }
        }
    }
    .header-control {
        display: flex;
        align-items: center;
        .inline-item {
            margin-right: 40px;
            position: relative;
            @media only screen and (max-width: 767px) {
                margin-right: 25px;                          
            }
            @media only screen and (max-width: 374px) {
                margin-right: 10px;                  
            }
            &:after {
                content: "";
                height: 21px;
                width: 2px;
                background-color: #9996fc;
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translateY(-50%);
                @media only screen and (max-width: 374px) {
                    display: none;                  
                }
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    display: none;
                }
            }
        }
        .input-group {
            background-color: rgba(0,0,0,0.06);
            display: flex;
            align-items: center;
            width: 250px;
            @media only screen and (max-width: 1360px) {
                width: 200px;   
            }
            @media only screen and (max-width: 1199px) {
                width: 250px;   
            }
            @media only screen and (max-width: 991px) {
                width: 170px;     
            }
            .form-control {
                padding: 5px 20px;
                height: 42px;
                color: #A7A8B6;
                font-size: 14px;
                background-color: transparent;

            }
            .input-group-append {
                margin: 0 3px 0 0;
            }
            .submit-btn {
                background-color: $color_primary;
                border: none;
                color: $color_light;
                height: 36px;
                width: 36px;
                border-radius: 50%;
                position: relative;
                // &:before {
                //     content: "";
                //     width: 13px;
                //     height: 5px;
                //     background-color: $color_light;
                //     border-radius: 50%;
                //     position: absolute;
                //     top: 2px;
                //     right: 6px;
                //     transform: rotate(24deg);
                //     opacity: 0.8;
                // }
            }
            input.form-control::-webkit-input-placeholder,
            textarea.form-control::-webkit-input-placeholder {
                color: #c5c3ff;
                letter-spacing: 1px;
            }
        }
        .dropdown {
            margin-right: 10px;
            @media only screen and (max-width: 374px) {
                margin-right: 0;                     
            }
            &:last-child {
                margin-right: 0;
            }
            .dropdown-toggle {
                background-color: transparent;
                border: none;
                font-size: 22px;
                color: #3B3B3B;
                position: relative;
                transition: all 0.3s ease-in-out;
                @media only screen and (max-width: 479px) {
                    font-size: 20px;                     
                }
                .notify-count {
                    display: block;
                    height: 18px;
                    width: 18px;
                    line-height: 18px;
                    background-color: #f57f17;
                    border-radius: 50%;
                    color: $color_light;
                    font-size: 12px;
                    position: absolute;
                    top: -4px;
                    right: -6px;
                    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .3);
                    @media only screen and (max-width: 479px) {
                        height: 16px;
                        width: 16px;
                        line-height: 16px;   
                        font-size: 10px;           
                    }
                }
                &:after {
                    display: none;
                }
                &:hover {
                    color: #3B3B3B;
                }
            }
            .dropdown-menu {
                display: block;
                visibility: hidden;
                opacity: 0;
                border: none;
                border-radius: 8px;
                min-width: 330px;
                padding: 0;
                top: 58px;
                right: -35px;
                transform: translateY(10px);
                transition: all 0.3s ease-in-out;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                @media only screen and (max-width: 991px) {
                   top: 43px;      
                }
                @media only screen and (max-width: 767px) {
                    top: 38px;  
                    min-width: 280px; 
                }
                &:before {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-bottom: 10px solid $color_light; 
                    border-left: 7px solid transparent; 
                    border-right: 7px solid transparent;
                    position: absolute;
                    top: -10px;
                    right: 40px;
                    @media only screen and (max-width: 575px) {
                        right: auto;
                        left: 50px;                     
                    }
                }
                .item-heading {
                    padding: 15px 22px; 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;
                    .heading-title {
                        margin-bottom: 0;
                        font-weight: 700;
                        color: $color_black;
                    }
                    .heading-btn {
                        text-align: right;
                        a {
                            font-size: 12px;
                            color: #9e9faf;
                            margin-right: 12px;
                            &:hover {
                                color: $color_primary;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .item-body {
                    background-color: #f6f9fd;
                    .media {
                        padding: 20px 25px 15px;
                        transition: all 0.3s ease-in-out;
                        &:nth-child(even) {
                            background-color: $color_light;
                        }
                        .item-img {
                            margin-right: 15px;
                            margin-top: 5px;
                            img {
                                border-radius: 50%;
                            }
                        }
                        .media-body {
                            position: relative;
                        }
                        .item-title {
                            font-size: 14px;
                            font-weight: 700;
                            color: $color_black;
                            margin-bottom: 1px;
                        }
                        p {
                            font-size: 14px;
                            color: #71728c;
                            line-height: 18px;
                            font-weight: 600;
                        }
                        .item-time {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 12px;
                            color: #9e9faf;
                            font-weight: 600;
                        }
                        &:hover {
                            background-color: $color_light;
                        }
                    }
                }
                .item-footer {
                    .view-btn {
                        text-align: center;
                        background-color: $color_primary;
                        display: block;
                        color: $color_light;
                        font-weight: 700;
                        font-size: 14px;
                        border-radius: 0 0 8px 8px;
                        padding: 15px 0;
                        &:hover {
                            background-color: $color_secondary;
                        }
                    }
                }
            }
            .dropdown-menu.show {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
        .dropdown-friend {
            .dropdown-menu {
                 @media only screen and (max-width: 575px) {
                    left: -75px;                     
                }
                &:before {
                    @media only screen and (max-width: 575px) {
                        left: 82px;                     
                    }
                }
                .item-heading {
                    padding-bottom: 4px;
                }
                .item-body {
                    background-color: $color_light;
                    .media {
                        border-bottom: 1px solid #e8edf4;
                        padding: 26px 22px 18px;
                        &:last-child {
                            border-bottom: none;
                        }
                        .item-img {
                            margin-top: 0;
                            position: relative;
                            &:after {
                                content: url('../../media/figure/chat_round_shape3.png');
                                position: absolute;
                                top: -5px;
                                left: -5px;
                            }
                            img {
                                height: 38px;
                                width: 38px;
                            }
                            .chat-status {
                                display: block;
                                height: 12px;
                                width: 12px;
                                border: 3px solid #ffffff;
                                border-radius: 50%;
                                box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.3);
                                position: absolute;
                                top: -5px;
                                left: -3px;
                                z-index: 2;
                            }
                            .chat-status.offline {
                                background-color: #b0bacb;
                            }
                            .chat-status.online {
                                background-color: #17dd17;
                            }
                        }
                        .item-title {
                            line-height: 18px;
                            a {
                                color: $color_black;
                                &:hover {
                                    color: $color_primary;
                                }
                            }
                        }
                        p {
                            font-size: 12px;
                            color: #9e9faf;
                            line-height: 18px;
                        }
                        .btn-area {
                            position: absolute;
                            top: 0;
                            right: 0;
                            a {
                                text-align: center;
                                font-size: 12px;
                                color: $color_light;
                                width: 29px;
                                height: 28px;
                                background-color: #cbdaef;
                                border-radius: 4px;
                                &:hover {
                                    background-color: $color_secondary;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dropdown-cart {
            .dropdown-menu {
                @media only screen and (max-width: 575px) {
                    left: -40px;                     
                }
                .item-heading {
                    padding-bottom: 4px;
                    .heading-title {
                        span {
                            color: $color_secondary;
                        }
                    }
                }
                .item-body {
                    background-color: $color_light;
                    .media {
                        border-bottom: 1px solid #e8edf4;
                        padding: 15px 22px;
                        &:last-child {
                            border-bottom: none;
                        }
                        .item-img {
                           img {
                            border-radius: 4px;
                           }
                        }
                        .item-title {
                            line-height: 18px;
                            margin-bottom: 2px;
                            a {
                                color: $color_black;
                                &:hover {
                                    color: $color_primary;
                                }
                            }
                        }
                        .item-category {
                            font-size: 12px;
                            color: #9e9faf;
                            line-height: 18px;
                            margin-bottom: 4px;
                        }
                        .item-price {
                            color: $color_primary;
                            font-weight: 700;
                        }
                        .btn-area {
                            position: absolute;
                            top: 0;
                            right: 0;
                            a {
                                text-align: center;
                                font-size: 10px;
                                font-weight: 600;
                                color: #d1d5d9;
                                width: 29px;
                                height: 28px;
                                border: 1px solid #d7d7d7;
                                border-radius: 4px;
                                &:hover {
                                    background-color: $color_secondary;
                                    border-color: $color_secondary;
                                    color: $color_light;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dropdown-admin {
            .dropdown-toggle {
                padding-right: 28px;
                @media only screen and (max-width: 1360px) {
                    padding-right: 0;   
                }
                @media only screen and (max-width: 991px) {
                    transform: scale(0.8);     
                }
                @media only screen and (max-width: 767px) {
                    transform: scale(0.7);     
                }
                &:before {
                    content: "...";
                    font-size: 22px;
                    color: #eff4fb;
                    font-weight: 700;
                    position: absolute;
                    top: 4px;
                    right: 0;
                    @media only screen and (max-width: 1360px) {
                        display: none;   
                    }
                }
                .media {
                    align-items: center;
                    .media-body {
                        @media only screen and (max-width: 1360px) {
                            display: none;   
                        }
                    }
                }
                .item-img {
                    margin-right: 18px;
                    position: relative;
                    @media only screen and (max-width: 479px) {
                        margin-right: 5px;                     
                    }
                    &:after {
                        content: url('../../media/figure/chat_round_shape4.png');
                        position: absolute;
                        top: -5px;
                        left: -5px;
                    }
                    img {
                        border-radius: 50%;
                    }
                    .acc-verified {
                        position: absolute;
                        top: -6px;
                        right: -12px;
                        height: 21px;
                        width: 21px;
                        line-height: 21px;
                        background-color: #17dd17;
                        border-radius: 50%;
                        font-size: 18px;
                        color: $color_light;
                        z-index: 1;
                    }
                }
                .item-title {
                    margin-bottom: 0;
                    color: #eff4fb;
                    font-weight: 400;
                    font-size: 18px;
                    display: block;
                    line-height: 1;
                }
                .item-subtitle {
                    font-size: 18px;
                    line-height: 1;
                }
            }
            .dropdown-menu {
                top: 64px;
                min-width: 230px;
                border: 1px solid #dee5ef;
                @media only screen and (max-width: 991px) {
                    top: 51px;     
                }
                @media only screen and (max-width: 767px) {
                    top: 45px;     
                }
                &:before {
                    left: 70px;
                    @media only screen and (max-width: 1199px) {
                        left: auto;
                        right: 65px;     
                    }
                }
                .admin-options {
                    padding: 15px 24px;
                    li {
                        border-bottom: 1px solid #e5ebf3;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                    a {
                        color: #8c8c8c;
                        font-size: 14px;
                        padding-left: 18px;
                        padding: 10px 0 10px 18px;
                        display: block;
                        position: relative;
                        &:before {
                            content: "";
                            height: 6px;
                            width: 6px;
                            background-color: #71728c;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        &:hover {
                            color: $color_secondary;
                        }
                    }
                }
            }
        }
        .dropdown-message {
            .dropdown-menu {
                @media only screen and (max-width: 575px) {
                    left: -105px;    
                    &:before {
                        left: 112px;
                    }                 
                }
            }
        }
        .dropdown-notification {
            .dropdown-menu {
                @media only screen and (max-width: 575px) {
                    left: -135px;    
                    &:before {
                        left: 145px;
                    }                 
                }
            }
        }
    }
}


// Fixed Sidebar 
.fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    .fixed-sidebar-left {
        position: absolute;
        height: 100%;
        transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .fixed-sidebar-left.small-sidebar {
        width: 90px;
        transition-delay: 0.3s;
        @media only screen and (max-width: 1360px) {
            height: 0;     
        }
        @media only screen and (max-width: 991px) {
            width: 60px;   
        }
        @media only screen and (max-width: 767px) {
            width: 50px;   
        }
        .sidebar-menu-wrap {
            @media only screen and (max-width: 1360px) {
                display: none;     
            }
        }
    }
    .fixed-sidebar-left.large-sidebar {
        width: 270px;
        transform: translateX(-100%);
        @media only screen and (max-width: 991px) {
            width: 230px;     
        }
        .sidebar-toggle {
            justify-content: space-between;
            padding: 0 25px;
        }
    }
    .sidebar-toggle {
        background-color: #5854ef;
        text-align: center;
        height: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 991px) {
            height: 60px;     
        }
        @media only screen and (max-width: 767px) {
            height: 50px;     
        }
        .toggle-btn {
            width: 33px;
            border: none;
            background-color: transparent;
            padding: 0;
            @media only screen and (max-width: 991px) {
                width: 25px;     
            }
            span {
                position: relative;
                display: block;
                height: 3px;
                width: 22px;
                background-color: $color_light;
                border-radius: 2px;
                margin-bottom: 8px;
                margin-left: auto;
                transition: all 0.3s ease-in-out;
                @media only screen and (max-width: 991px) {
                    height: 3px;
                    width: 15px;   
                    margin-bottom: 6px; 
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    content: "";
                    width: 8px;
                    height: 3px;
                    background-color: $color_secondary;
                    border-radius: 2px;
                    position: absolute;
                    top: 0;
                    left: -11px;
                    @media only screen and (max-width: 991px) {
                        height: 3px;
                        width: 6px; 
                        left: -10px;   
                    }
                }
                &:nth-child(even) {
                    margin-left: 0;
                    &:before {
                        left: auto;
                        right: -11px;
                        @media only screen and (max-width: 991px) {
                            right: -10px;   
                        }
                    }
                }
            }
            &:hover {
                span {
                    background-color: $color_secondary;
                }
            }
        }
    }
    .sidebar-menu-wrap {
        height: 100%;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.03);
        background-color: $color_light;
        .side-menu {
            padding: 30px 0;
            li {
                margin-bottom: 18px;
                @media only screen and (max-width: 767px) {
                    margin-bottom: 5px;                     
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .menu-link {
                font-size: 24px;
                color: #8793a3;
                display: flex;
                align-items: center;
                padding: 10px 0 10px 32px;
                i {
                    margin-right: 12px;
                }
                .menu-title {
                    font-size: 14px;
                    font-weight: 700;
                }
                &:hover {
                    color: $color_secondary;
                }
            }
        }
        .top-menu-mobile {
            padding-bottom: 20px;
            @media only screen and (min-width: 1200px) {
                display: none;
            }
            .menu-label {
                padding-left: 32px;
                color: #a8b1bc;
                margin: 20px 0 10px;
                font-weight: 700;
                
            }
            .menu-link {
                padding: 2px 0 2px 32px; 
                color: #444444;
                font-size: 14px;
                font-weight: 600;
                &:hover {
                    color: $color_secondary;
                }
            }
        }
    }
    .mCustomScrollbar {
        max-height: calc(100vh - 100px);
    }
}

.fixed-sidebar.lg-menu-open {
    z-index: 15;
    .fixed-sidebar-left {
        transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .fixed-sidebar-left.small-sidebar {
        transform: translateX(-100%);
    }
    .fixed-sidebar-left.large-sidebar {
        transform: translateX(0);
        transition-delay: 0.3s;
    }
}


.fixed-sidebar.right {
    left: auto;
    right: 0;
    .fixed-sidebar-right {
        position: absolute;
        height: 100%;
        right: 0;
        @media only screen and (max-width: 1360px) {
            height: 0; 
        }
    }
    .fixed-sidebar-right.small-sidebar {
        width: 90px;
        @media only screen and (max-width: 991px) {
            width: 60px;     
        }
        @media only screen and (max-width: 767px) {
            width: 50px;     
        }
    }
    .sidebar-toggle {
        background-color: $color_secondary;
        cursor: pointer;
        &:hover {
            background-color: #5854ef;
        }
        .chat-icon {
            background-color: transparent;
            border: none;
            font-size: 30px;
            color: $color_light;
            padding: 10px;
            @media only screen and (max-width: 991px) {
                font-size: 25px;                     
            }
        }
    }
    .user-chat-list {
        padding: 25px 0; 
        .chat-item {
            text-align: center;
            cursor: pointer;
            margin-bottom: 30px;
            @media only screen and (max-width: 991px) {
                margin-bottom: 15px;     
            }
            &:last-child {
                margin-bottom: 0;
            }
            .author-img {
                position: relative;
                display: inline-block;
                @media only screen and (max-width: 991px) {
                    transform: scale(0.8);     
                }
                @media only screen and (max-width: 767px) {
                    transform: scale(0.7);     
                }
                &:before {
                    content: url('../../media/figure/chat_round_shape2.png');
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    z-index: 1;
                    transform: rotate(30deg);
                    transition: all 0.3s ease-in-out;
                    visibility: hidden;
                    opacity: 0;
                }
                &:after {
                    content: url('../../media/figure/chat_round_shape.png');
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }
                img {
                    border-radius: 50%;
                }
                .chat-status {
                    display: block;
                    height: 12px;
                    width: 12px;
                    border: 3px solid $color_light;
                    border-radius: 50%;
                    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.3);
                    position: absolute;
                    top: -4px;
                    left: -2px;
                    z-index: 2;
                }
                .chat-status.offline {
                    background-color: #b0bacb;
                }
                .chat-status.online {
                    background-color: #17dd17;
                }
            }
            &:hover {
                .author-img {
                    &:before {
                        visibility: visible;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                    &:after {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
    .sidebar-menu-wrap {
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 1360px) {
           transform: translateX(120px);      
        }
    }
}

.fixed-sidebar.chat-head-hide {
    .fixed-sidebar-right {
        @media only screen and (max-width: 1360px) {
            height: 100%;     
        } 
    }
    .sidebar-menu-wrap {
        transform: translateX(120px);
        @media only screen and (max-width: 1360px) {
           transform: translateX(0);      
        }
    }
}

.mCSB_scrollTools .mCSB_draggerContainer {
    display: none;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

// Side Menu Close
.wrapper.open {
    .closeMask {
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}

// Chat Coversation Box 
.chat-conversion-box {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 100;
    .modal-dialog {
        max-width: 350px;
        width: 100%;
        position: fixed;
        right: 0;
        bottom: -10%;
        margin: 10px 90px 0 0;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 991px) {
            margin: 10px 60px 0 0;     
        }
        @media only screen and (max-width: 767px) {
            margin: 10px 50px 0 0;     
        }
        @media only screen and (max-width: 479px) {
            max-width: 250px;    
        }
    }
    .modal-content {
        border: none;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    .modal-header {
        padding: 0 15px;
        align-items: center;
        background-color: $color_primary;
        border: none;
        .modal-title {
            color: $color_light;
            position: relative;
            .online {
                display: block;
                height: 8px;
                width: 8px;
                background-color: #17dd17;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translateY(-50%);
            }
        }
        .chat-shrink {
            background-color: transparent;
            border: none;
            padding: 10px;
            color: $color_light;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $color_secondary;
            }
        }
        .chat-close {
            text-shadow: none;
            padding: 10px;
            margin: 0;
            color: $color_light;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $color_secondary;
            }
        }
    }
    .modal-body {
        padding: 30px 15px;
        .chat-conversion {
            li {
                display: flex;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                .author-img {
                    margin-right: 20px;
                }
                img {
                    border-radius: 50%;
                }
                .author-text {
                    flex: 1;
                    span {
                        display: block;
                        font-size: 13px;
                        line-height: 20px;
                        background-color: $color_secondary;
                        color: $color_light;
                        padding: 15px;
                        border-radius: 10px;
                        position: relative;
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-right: 15px solid $color_secondary;
                            border-top: 2px solid transparent;
                            border-bottom: 15px solid transparent;
                            position: absolute;
                            top: 50%;
                            left: -15px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .chat-you {
                flex-direction: row-reverse;
                .author-img {
                    margin-left: 20px;
                    margin-right: 0;
                }
                .author-text {
                    span {
                        &:before {
                            left: auto;
                            right: -15px;
                            border-right: none;
                            border-left: 15px solid $color_secondary;
                            border-top: 2px solid transparent;
                            border-bottom: 15px solid transparent;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        border-color: #f3f3f3;
        display: block;
        padding: 20px 15px;
        .form-group {
            position: relative;
            .chat-plus-icon {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                font-size: 18px;
                color: $color_secondary;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $color_primary;
                }
            }
            .file-attach-icon {
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
                background-color: $color_light;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                a {
                    color: $color_primary;
                    padding: 3px;
                    &:hover {
                        color: $color_secondary;
                    }
                }
            }
            .file-attach-icon.show {
                visibility: visible;
                opacity: 1;
                right: 40px;
            }
        }
        .form-control {
            border-radius: 30px;
            font-size: 14px;
            height: 42px;
            border-color: #e0e0e0;
            padding: 10px 35px 10px 20px;
        }
        input.form-control::-webkit-input-placeholder,
        textarea.form-control::-webkit-input-placeholder {
            color: #cccccc;
        }
    }
}
.chat-conversion-box.modal-show {
    visibility: visible;
    opacity: 1;
    .modal-dialog {
        bottom: 0;
    }

}
.chat-conversion-box.shrink {
    .modal-body {
        display: none;
    }
    .modal-footer {
        display: none;
    }
}


// Mobile Nav Menu 
.mobile-nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
    @media only screen and (max-width: 767px) {
        margin-right: 10px;
    }
    @media only screen and (max-width: 575px) {
        margin-right: 40px;                     
    }
    @media only screen and (max-width: 479px) {
        margin-right: 20px;                     
    } 
    
    .mobile-logo {
        a {
            @media only screen and (max-width: 575px) {
                padding: 0 0 0 35px;                  
            }
        }
    }
}
.mobile-toggler {
    display: none;
    button {
        border: none;
        background-color: transparent;
        font-size: 24px;
        color: $color_light;
        transition: all 0.3s ease-in-out;
        padding: 0;
        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 0.9;
        }
    }
}
.mobile-toggle-close {
    display: none;
    background-color: transparent;
    border: 1px solid $color_light;
    border-radius: 4px;
    padding: 5px 6px;
    color: #ccc;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    &:focus {
        outline: none;
    }
    &:hover {
        color: $color_secondary;
        background-color: $color_light;
    }
}
.mobile-menu-wrapper {
    .header-menu {
        padding: 10px 0;   
    }
    .mobile-toggler {
        display: block;
    }
    nav.template-main-menu {
        width: 270px;
        position: fixed;
        top: 0;
        left: -280px;
        bottom: 0;
        background-color: $color_primary;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
        padding: 80px 10px 30px;
        transition: all 0.3s ease-in-out;
        z-index: 5;
        .mobile-toggle-close {
            display: block;
        }
        >ul {
            overflow-y: auto;
            height: 100%;
            display: block !important;
            >li {
                >a {
                    text-align: center;
                    padding: 20px !important;
                    color: $color_light;
                    &:hover {
                        color: $color_light;
                    }
                }
                a.have-sub {
                    &:after {
                        display: none;
                    }
                }
                .sub-menu {
                    display: none;
                    border-top: none;
                    width: auto;
                    position: relative;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                    transform-origin: inherit;
                    background-color: transparent;
                    box-shadow: none;
                    padding: 0;
                    &:before {
                        display: none;
                    }
                    li {
                        a {
                            transition: all 0.3s ease-in-out;
                            padding: 0 0 10px 0;
                            text-align: center;
                            color: #e6e5ff;
                            &:before {
                                display: none;
                            }
                            &:hover {
                                color: $color_light;
                                padding: 0 0 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.mobile-menu-expand {
    nav.template-main-menu {
        left: 0;
    }
}


