/*------------------- 6.2 Banner -------------------*/
.newsfeed-banner {
	background-image: linear-gradient(to left, #ffea00, #ff9800);
	border-radius: 10px;
	padding: 60px 50px;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	z-index: 1;
	@media only screen and (max-width: 767px) {
		padding: 30px;
	}
	@media only screen and (max-width: 575px) {
		text-align: center;
		padding: 20px;
	}
	.media {
		align-items: center;
	}
	.item-icon {
		font-size: 80px;
		color: $color_light;
		margin-right: 55px;
		position: relative;
		@media only screen and (max-width: 991px) {
			font-size: 70px;	
		}
		@media only screen and (max-width: 767px) {
			font-size: 60px;	
		}
		@media only screen and (max-width: 575px) {
			display: none;	
		}
		&:before {
			content: "";
			height: 54px;
			width: 3px;
			background-color: $color_light;
			border-radius: 2px;
			position: absolute;
			top: 46%;
			right: -35px;
			transform: translateY(-50%);
		}
	}
	.media-body {
		.item-title {
			font-size: 30px;
			color: $color_light;
			font-weight: 800;
			margin-bottom: 8px;
			@media only screen and (max-width: 1199px) {
				font-size: 28px;	
			}
			@media only screen and (max-width: 767px) {
				font-size: 26px;	
			}
			@media only screen and (max-width: 575px) {
				font-size: 24px;	
			}
		}
		p {
			margin-bottom: 0;
			color: $color_light;
		}
	}
	.animation-img {
		li {
			position: absolute;
			z-index: -1;
			&:nth-child(1n) {
				top: 0;
				right: 150px;
			}
			&:nth-child(2n) {
				top: auto;
				bottom: 0;
				right: 30px;
				@media only screen and (max-width: 991px) {
					display: none;	
				}
			}
		}
	}
}

.banner-user {
	background-image: url('../../media/banner/banner_user.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	padding: 180px 35px 35px 50px;
	position: relative;
	margin-bottom: 30px;
	z-index: 1;
	@media only screen and (max-width: 991px) {
		padding: 100px 35px 35px 50px;     
	}
	@media only screen and (max-width: 767px) {
		padding: 60px 30px 35px;     
	}
	@media only screen and (max-width: 767px) {
		padding: 60px 20px 35px;     
	}
	&:before {
		content: "";
		height: 100%;
		width: 100%;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.90) , transparent);
		border-radius: 8px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	.media {
		align-items: center;
		@media only screen and (max-width: 575px) {
		 	display: block;  
		 	text-align: center;                   
		}
		.media-body {
			position: relative;
		}
		.item-img {
			position: relative;
			margin-right: 30px;
			border-radius: 50%;
			background-color: $color_light;
			padding: 5px;
			display: inline-block;
			@media only screen and (max-width: 575px) {
			 	margin-right: 0;
			 	margin-bottom: 30px;                     
			}
			// &:after {
			// 	content: url('../../media/banner/round_shape1.png');
			// 	position: absolute;
			// 	top: -9px;
			// 	left: -8px;
			// }
			img {
				border-radius: 50%;
			}
		}
		.item-title {
			font-size: 24px;
			font-weight: 700;
			color: $color_light;
			margin-bottom: 2px;
			position: relative;
			display: inline-block;
			// &:before {
			// 	content: "\eed6";
			// 	font-family: IcoFont;
			//     text-align: center;
			//     display: inline-block;
			//     height: 26px;
			//     width: 26px;
			//     line-height: 26px;
			//     background-color: #17dd17;
			//     border-radius: 50%;
			//     font-size: 20px;
			//     color: $color_light;
			//     position: absolute;
			//     top: 1px;
			//     right: -38px;
			// }
		}
		.item-subtitle {
			font-weight: 600;
			color: $color_light;
			margin-bottom: 20px;
		}
		.item-social {
			li {
				display: inline-block;
				margin-right: 2px;
				&:last-child {
					margin-right: 0;
				}
				a {
					text-align: center;
					font-size: 18px;
					color: $color_light;
					height: 40px;
					width: 40px;
					line-height: 40px;
					border-radius: 50%;
					transition: all 0.3s ease-in-out;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
		.user-meta {
			position: absolute;
			bottom: 0;
			right: 0;
			@media only screen and (max-width: 991px) {
				position: relative;  
				margin-top: 20px;
			}
			li {
				display: inline-block;
				color: #d7d7d7;
				margin-right: 24px;
				&:last-child {
					margin-right: 0;
				}
				span {
					font-weight: 600;
					color: $color_light;
				}
			}
		}
	}
}

.banner-forum {
	background-image: url('../../media/banner/banner_forum.jpg');
	.media {
		.media-body {
			.item-title {
				&:before {
					display: none;
				}
			}
			.item-subtitle {
				color: #c2c2c2;
			}
		}
	}
}
.banner-user-group {
	background-image: url('../../media/banner/banner_group.jpg');
	.media {
		.media-body {
			.item-title {
				&:before {
					display: none;
				}
			}
			.item-subtitle {
				color: #c2c2c2;
			}
		}
	}
}